html {
    --maxWidth: 1920px;
    --gap: 15rem;
}

.body {
    position: sticky;
    /* width: 50%; */
    height: 120vh;
    padding: 0 var(--gap);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url("../img/Home Page.png");
}

.search__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px 0 20px 0;
    flex: 1;

}

hr {
    border: 0.5px solid rgba(34, 18, 70, 0.50);
    width: 99%;
    margin: auto;
  
}
.search__bar {
    width: 80%;
    padding: 10px;
    background-color: white;
    border-color: #221246;
    border-radius: 5px;
}

.search__grid {
    width: 37px;
    background-color: white;
    border-color: #221246;
    border-radius: 5px;
    background: url(../img/fluent_apps-list-20-regular.png)no-repeat scroll 0 0/90%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.search__list {
    width: 37px;
    background-color: white;
    border-color: #221246;
    border-radius: 5px;
    background: url(../img/fluent_apps-list-20-regular.png)no-repeat scroll 0 0/90%;
    background-position: center;
    background-size: cover;
    position: relative;

}
.search__filter {
    width: 37px;
    background-color: #221246;
    border-color: #221246;
    border-radius: 5px;
    background: url(../img/fluent_apps-list-20-regular.png)no-repeat scroll 0 0/90%;
    background-position: center;
    background-size: cover;
    position: relative;
    
}

@media (max-width:1160px){
    html {
        --maxWidth: 1920px;
        --gap: 1rem;
    }
    .search__bar {
        width: 50%;
        padding: 10px;
        background-color: white;
        border-color: #221246;
        border-radius: 5px;
    }
}