
.profile__container{
    position: relative;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;

    width: 70vw;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 5vh;
    flex: 1 11em;

    margin: auto;
    align-items: start;
}

.profile__left {
    width: 60%;
    padding: 10px;
    border-color: var(--theme);
    border-radius: 5px;
}

.profile__right{
    width: 30%;
    min-width: 300px;
    background-color: white;
    border: 1px solid var(--theme);
    border-radius: 5px;
    padding: 10px;
    margin: 1% 1%;
    padding: 2%;
}

.profile__details{
    padding: 5px;
}

.profile__image {
    display: flex;
    margin: 0 auto;
    width: 185px;
    object-fit: contain;
    margin-top: 0px;
}


.sign__out {
    padding: 10px 25px;
    font-size: 1.05em;
    margin: 20px;
    border: 2px solid var(--theme);
    border-radius: 50px;
    color: var(--theme);
    background-color: white;
}

.myProfileBook__container{

    display: flex;
    position: relative;
    background-color: white;
    justify-content:stretch;
    margin: 1% 1%;
    padding: 2%;
    border: 1px solid var(--theme);
    border-radius: 3px;
    flex: 1 11em;
}

.book__right__list > *{
    margin-bottom: 15px;
}

.book__right__list {
    margin-left: 15px;
}

.book__image__list{
    display: flex;
    position: relative;
    height: 170px;
    object-fit: contain;
    margin-top: 0px;
}

.right{
    text-align: right;
    /* background-color: aqua; */
}





